<div class="example-button-row">
    <button class="btn" mat-raised-button color="primary" routerLink="/button">Button</button>
    <button class="btn" mat-raised-button color="primary" routerLink="/button-toggel">Button-Toggel</button>
    <button class="btn" mat-raised-button color="primary" routerLink="/icons">Icons</button>
    <button class="btn" mat-raised-button color="primary" routerLink="/badges">Badges</button>
    
</div>

<mat-divider></mat-divider>

<router-outlet></router-outlet>